<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Star Wars Servlet</display-name>

	<servlet>
		<servlet-name>DomainServlet</servlet-name>
		<servlet-class>com.epam.jjp.sjspt.DomainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>indexJSP</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
		<init-param>
			<param-name>jspInitParam</param-name>
			<param-value>JSP init value</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>BattleServlet</servlet-name>
		<servlet-class>com.epam.jjp.sjspt.BattleServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MyFirstServlet</servlet-name>
		<servlet-class>com.epam.jjp.sjspt.FirstServlet</servlet-class>
		<init-param>
			<param-name>NAME</param-name>
			<param-value>VALUE</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyFirstServlet</servlet-name>
		<url-pattern>/FirstServletCall</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>indexJSP</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DomainServlet</servlet-name>
		<url-pattern>/DomainServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BattleServlet</servlet-name>
		<url-pattern>/Battle</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>adminEmail</param-name>
		<param-value>admin@email.com</param-value>
	</context-param>

	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
</web-app>
